DATABASE_URL=psql://postgres:postgres@127.0.0.1:5432/postgres

DEBUG=true
SECRET_KEY=enter-your-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
